In [16]:
import pandas
import numpy

file_path = 'xls/En_In.xls'
ei_df = pandas.read_excel(file_path, skiprows=17, usecols=[2, 3, 4, 5]).head(226)
ei_df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capital', '% Renewable']
ei_df

,Country,Energy Supply,Energy Supply per Capital,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
...,...,...,...,...
221,Venezuela (Bolivarian Republic of),2871,95,67.834520
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670

In [17]:
ei_df = ei_df.replace('...', numpy.NaN)
ei_df['Energy Supply'] = ei_df['Energy Supply'] * 1_000_000
ei_df

,Country,Energy Supply,Energy Supply per Capital,% Renewable
0,Afghanistan,321000000.000000,10.000000,78.669280
1,Albania,102000000.000000,35.000000,100.000000
2,Algeria,1959000000.000000,51.000000,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9000000.000000,121.000000,88.695650
...,...,...,...,...
221,Venezuela (Bolivarian Republic of),2871000000.000000,95.000000,67.834520
222,Viet Nam,2554000000.000000,28.000000,45.321520
223,Wallis and Futuna Islands,0.000000,26.000000,0.000000
224,Yemen,344000000.000000,13.000000,0.000000
225,Zambia,400000000.000000,26.000000,99.714670

In [18]:
ei_df['Country'] = ei_df['Country'].replace('Republic of Korea', 'South Korea')
ei_df['Country'] = ei_df['Country'].replace('United States of America20', 'United States')
ei_df['Country'] = ei_df['Country'].replace('United Kingdom of Great Britain and Northern Ireland19', 'United Kingdom')
ei_df['Country'] = ei_df['Country'].replace('China, Hong Kong Special Administrative Region3', 'Hong Kong')
ei_df

,Country,Energy Supply,Energy Supply per Capital,% Renewable
0,Afghanistan,321000000.000000,10.000000,78.669280
1,Albania,102000000.000000,35.000000,100.000000
2,Algeria,1959000000.000000,51.000000,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9000000.000000,121.000000,88.695650
...,...,...,...,...
221,Venezuela (Bolivarian Republic of),2871000000.000000,95.000000,67.834520
222,Viet Nam,2554000000.000000,28.000000,45.321520
223,Wallis and Futuna Islands,0.000000,26.000000,0.000000
224,Yemen,344000000.000000,13.000000,0.000000
225,Zambia,400000000.000000,26.000000,99.714670

In [19]:
ei_df['Country'] = ei_df['Country'].str.replace(r'\s*\([^)]*\)\s*|\s*\d+\s*', '', regex=True)
ei_df

,Country,Energy Supply,Energy Supply per Capital,% Renewable
0,Afghanistan,321000000.000000,10.000000,78.669280
1,Albania,102000000.000000,35.000000,100.000000
2,Algeria,1959000000.000000,51.000000,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9000000.000000,121.000000,88.695650
...,...,...,...,...
221,Venezuela,2871000000.000000,95.000000,67.834520
222,Viet Nam,2554000000.000000,28.000000,45.321520
223,Wallis and Futuna Islands,0.000000,26.000000,0.000000
224,Yemen,344000000.000000,13.000000,0.000000
225,Zambia,400000000.000000,26.000000,99.714670

In [20]:
file_path = 'csv/gpd.csv'
gdp_dp = pandas.read_csv(file_path, skiprows=4)
pandas.options.display.float_format = '{:.6f}'.format
gdp_dp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2467703910.614530,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4018195653.510150,4021331428.401050,3675727910.506810,3535389132.602410,3346317328.524610,3185604581.520290,3129537611.886200,3127549907.583770,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,10305228125.139200,11721187594.205200,12144482858.180000,14697331940.646400,15936800636.248699,16911126453.227600,19352203805.629398,19731337260.637798,19990317160.675598,20294152243.007198
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,55811028114.647903,68420444001.499496,77874196512.184494,79753199398.139603,82470913120.731400,85702615836.440399,90120963241.218597,96261432368.264496,100886286610.957993,103910558934.020004
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9771760095.125540,10348293941.585300,11127520474.298100,11500292411.174400,11926953258.916000,12231090567.667200,12404772053.501400,12542465022.372999,12793314322.820499,13120823169.484699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,26725653162.687698,27617869836.712101,28726558529.023499,29914355173.579201,30906753495.150101,26243421035.824600,26891601653.747101,28009137429.746201,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,77070810927.968903,80034494636.637405,84978442119.737900,91244381889.661606,98489040998.276199,107250656239.048996,...,340285160027.947021,358526057738.422974,369966781589.994995,364276362720.085999,375349442837.239990,387407362601.250000,396007124238.281982,404768205399.940002,411036853168.560974,416311671520.861023
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,15080239239.396799,13443825765.218201,16294010600.120600,17143578705.300699,16725237057.936800,16892046007.948799,...,16508944144.718300,17542316525.547298,18634483660.300400,19166509369.446999,20523285374.187000,21932132984.366501,23502004276.806900,25500497989.971901,27787759925.441799,29709613590.183601
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4592974755.581500,4655502678.701720,4539541577.202900,4688093222.988890,5260699172.416670,6136471743.344940,...,14405693544.016199,15608919909.945601,16822341081.069799,18373419545.141899,20265552104.396400,21403581063.296200,23024380970.417500,24205950559.400501,25422273004.668701,26241270767.755501
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3338344012.901850,3549199070.949700,3600111298.353320,3824914650.445780,3782604520.958330,3968351985.975770,...,10062755569.021700,9695130198.507780,7982102821.163840,8459783044.330810,9422161300.000000,10543908035.032900,11657893456.879000,12180644491.500900,12649391052.821800,12785173627.385000

In [21]:
gdp_dp['Country Name'] = gdp_dp['Country Name'].replace('Korea, Rep.', 'South Korea')
gdp_dp['Country Name'] = gdp_dp['Country Name'].replace('Iran, Islamic Rep.', 'Iran')
gdp_dp['Country Name'] = gdp_dp['Country Name'].replace('Hong Kong SAR, China', 'Hong Kong')
gdp_dp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2467703910.614530,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4018195653.510150,4021331428.401050,3675727910.506810,3535389132.602410,3346317328.524610,3185604581.520290,3129537611.886200,3127549907.583770,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,10305228125.139200,11721187594.205200,12144482858.180000,14697331940.646400,15936800636.248699,16911126453.227600,19352203805.629398,19731337260.637798,19990317160.675598,20294152243.007198
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,55811028114.647903,68420444001.499496,77874196512.184494,79753199398.139603,82470913120.731400,85702615836.440399,90120963241.218597,96261432368.264496,100886286610.957993,103910558934.020004
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9771760095.125540,10348293941.585300,11127520474.298100,11500292411.174400,11926953258.916000,12231090567.667200,12404772053.501400,12542465022.372999,12793314322.820499,13120823169.484699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,26725653162.687698,27617869836.712101,28726558529.023499,29914355173.579201,30906753495.150101,26243421035.824600,26891601653.747101,28009137429.746201,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,77070810927.968903,80034494636.637405,84978442119.737900,91244381889.661606,98489040998.276199,107250656239.048996,...,340285160027.947021,358526057738.422974,369966781589.994995,364276362720.085999,375349442837.239990,387407362601.250000,396007124238.281982,404768205399.940002,411036853168.560974,416311671520.861023
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,15080239239.396799,13443825765.218201,16294010600.120600,17143578705.300699,16725237057.936800,16892046007.948799,...,16508944144.718300,17542316525.547298,18634483660.300400,19166509369.446999,20523285374.187000,21932132984.366501,23502004276.806900,25500497989.971901,27787759925.441799,29709613590.183601
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4592974755.581500,4655502678.701720,4539541577.202900,4688093222.988890,5260699172.416670,6136471743.344940,...,14405693544.016199,15608919909.945601,16822341081.069799,18373419545.141899,20265552104.396400,21403581063.296200,23024380970.417500,24205950559.400501,25422273004.668701,26241270767.755501
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3338344012.901850,3549199070.949700,3600111298.353320,3824914650.445780,3782604520.958330,3968351985.975770,...,10062755569.021700,9695130198.507780,7982102821.163840,8459783044.330810,9422161300.000000,10543908035.032900,11657893456.879000,12180644491.500900,12649391052.821800,12785173627.385000

In [22]:
file_path = 'xlsx/scimagojr.xlsx'
scimagojr_df = pandas.read_excel(file_path)
scimagojr_df

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.700000,138
1,2,United States,96661,94747,792274,265436,8.200000,230
2,3,Japan,30504,30287,223024,61554,7.310000,134
3,4,United Kingdom,20944,20357,206091,37874,9.840000,139
4,5,Russian Federation,18534,18301,34266,12422,1.850000,57
...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.000000,0
187,188,Christmas Island,1,1,0,0,0.000000,0
188,189,Reunion,1,1,2,1,2.000000,1
189,190,Saint Lucia,1,1,0,0,0.000000,0
190,191,Mauritania,1,1,1,0,1.000000,1

In [23]:
merged_df = pandas.merge(ei_df, scimagojr_df, on='Country', how='inner')
gdp_dp = gdp_dp.rename(columns={'Country Name': 'Country'})
merged_df = pandas.merge(merged_df, gdp_dp, on='Country', how='inner')
merged_df = merged_df.sort_values(by='Rank', ascending=True)
merged_df = merged_df[['Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capital', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
merged_df.set_index('Country', inplace=True)
merged_df = merged_df.head(15)
merged_df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capital,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.700000,138,127191000000.000000,93.000000,19.754910,3992331462570.890137,4559041383517.929688,4997775145605.959961,5459247267275.139648,6039658508485.589844,6612490294273.650391,7124977970399.610352,7672447738017.419922,8230120617793.519531,8797998940421.279297
United States,2,96661,94747,792274,265436,8.200000,230,90838000000.000000,286.000000,11.570980,14792303791800.000000,15055395304800.000000,15011490541400.000000,14594842181900.000000,14964372000000.000000,15204019634600.000000,15542161722300.000000,15773666098800.000000,16156618476000.000000,16548573278300.000000
Japan,3,30504,30287,223024,61554,7.310000,134,18984000000.000000,149.000000,10.232820,5496541517363.309570,5617035943770.730469,5558526873313.820312,5251308399909.320312,5498717815809.769531,5473738114222.049805,5569101602926.179688,5644658523313.419922,5642884448582.190430,5669563143140.969727
United Kingdom,4,20944,20357,206091,37874,9.840000,139,7920000000.000000,124.000000,10.600470,2419630700401.729980,2482203235475.899902,2470614405284.299805,2367047611711.990234,2403504326328.799805,2450911011124.850098,2479808627472.189941,2533370110012.359863,2605643189894.930176,2666333396477.129883
Russian Federation,5,18534,18301,34266,12422,1.850000,57,30709000000.000000,214.000000,17.288680,1385792607182.580078,1504071117741.300049,1583004071092.110107,1459199142720.260010,1524917468442.010010,1589942641764.290039,1645875899596.270020,1666934123163.159912,1678708855070.860107,1616148858033.770020
Canada,6,17899,17620,215003,40930,12.010000,149,10431000000.000000,296.000000,61.945430,1564468853329.449951,1596739898466.320068,1612713061250.239990,1565144676082.310059,1613406134731.120117,1664086754804.889893,1693132927878.080078,1730687770724.129883,1773485821199.770020,1792608764608.810059
Germany,7,17027,16831,140566,27426,8.260000,126,13261000000.000000,165.000000,17.901530,3332890754966.890137,3441560834437.089844,3478809377483.439941,3283339933774.830078,3417298013245.029785,3542371125827.810059,3556723774834.439941,3567317390728.479980,3624386278145.700195,3685555907284.770020
India,8,15005,14841,128763,37209,8.580000,115,33195000000.000000,26.000000,14.969080,1265894322131.090088,1374865195244.500000,1428360609657.800049,1549482541544.699951,1708458876829.919922,1821872415623.620117,1924235460945.250000,2051981849791.689941,2200616575310.970215,2367206118959.060059
France,9,13153,12973,130632,28601,9.930000,114,10597000000.000000,166.000000,17.020280,2607839735099.339844,2669423841059.600098,2674637086092.709961,2595966887417.220215,2646994701986.750000,2702031788079.470215,2706968211920.529785,2722566887417.220215,2729631788079.470215,2761185430463.580078
South Korea,10,11983,11923,114675,22595,9.570000,104,11007000000.000000,221.000000,2.279353,941019882149.125000,992431619676.197021,1020509638539.709961,1027729932849.170044,1094499338702.719971,1134795571930.639893,1160809426196.790039,1194429021591.570068,1234340240503.489990,1266580410309.110107
Italy,11,10964,10794,111850,26661,10.200000,106,6530000000.000000,109.000000,33.667230,2202169663576.160156,2234626814701.990234,2211154176556.290039,2089937511523.179932,2125184794172.189941,2137439133774.830078,2077184315761.590088,2040871178145.699951,2033867707549.669922,2049315603576.159912
Spain,12,9428,9330,123336,23964,13.080000,115,4923000000.000000,106.000000,37.968590,1414822516556.290039,1468145695364.239990,1484529801324.500000,1431475496688.739990,1431672847682.120117,1417354966887.419922,1380215894039.729980,1357139072847.679932,1375605298013.239990,1419821192052.979980
Iran,13,8896,8819,57470,19125,6.460000,72,9172000000.000000,119.000000,5.707721,389552313541.270020,425064554419.086975,428990857822.094971,438920754763.986023,467790215915.476013,485330901134.447998,453256899727.831970,444592553889.770996,463902735245.890015,NaN
Australia,14,8831,8725,90765,15606,10.280000,107,5386000000.000000,231.000000,11.810810,1021939264106.670044,1060340245233.550049,1099643871866.030029,1119653852349.080078,1142250506474.060059,1169431057881.909912,1211913217353.489990,1241484494446.530029,1272519759757.290039,1301251030445.659912
Brazil,15,8668,8596,60702,14396,7.000000,86,12149000000.000000,59.000000,69.648030,1845079664513.560059,1957118136056.330078,2056809174052.929932,2054214562458.189941,2208872214643.020020,2295244758549.529785,2339209222185.089844,2409739667075.819824,2412230647720.450195,2319423390494.129883

In [24]:
# 8
def task_eight(df):
    return pandas.Series((df['2006'] + df['2007'] + df['2008'] + df['2009'] + df['2010'] + df['2011'] + df['2012'] + df['2013'] + df['2014'] + df['2015']) / 10, name='GDP per 10 years')
task_eight(merged_df)

Country
China                 6348608932836.099609
United States        15364344302990.000000
Japan                 5542207638235.175781
United Kingdom        2487906661418.417480
Russian Federation    1565459478480.660889
Canada                1660647466307.511963
Germany               3493025339072.848145
India                 1769297396603.859863
France                2681724635761.588867
South Korea           1106714508244.852051
Italy                 2120175089933.776123
Spain                 1418078278145.694092
Iran                                   NaN
Australia             1164042729991.427002
Brazil                2189794143774.904785
Name: GDP per 10 years, dtype: float64

In [25]:
def task_nine(df):
    df['GDP per 10 years'] = task_eight(df)
    df = df.sort_values(by='GDP per 10 years', ascending=False)
    df = df.reset_index()
    df = df[df.index == 4]
    df['GDP_difference'] = pandas.Series(df['2015'] - df['2006'], name='GDP_difference')
    return df['Country'].item(), df['GDP_difference'].item()
task_nine(merged_df)

('France', 153345695364.24023)

In [26]:
def task_ten(df):
    return df['% Renewable'].idxmax(), df['% Renewable'].max()
task_ten(merged_df)

('Brazil', 69.64803)

In [27]:
def task_eleven(df):
    df['Population'] = pandas.Series(df['Energy Supply'] / df['Energy Supply per Capital'], name='population')
    df = df.sort_values(by='Population', ascending=False)
    df = df.reset_index()
    df = df[df.index == 5]
    return df['Country'].item(), df['Population'].item()
task_eleven(merged_df)

('Japan', 127409395.97315437)

In [28]:
def task_twelve():
    return
task_twelve()

In [29]:
#13
def task_thirteen(df):
    median = df['% Renewable'].median()
    df['Renewable bigger or equals median'] = df['% Renewable'].apply(lambda x: 1 if x >= median else 0)
    return df['Renewable bigger or equals median']
task_thirteen(merged_df)

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: Renewable bigger or equals median, dtype: int64

In [30]:
ContinentDict = {
    'China':'Asia',
    'United States':'North America',
    'Japan':'Asia',
    'United Kingdom':'Europe',
    'Russian Federation':'Europe',
    'Canada':'North America',
    'Germany':'Europe',
    'India':'Asia',
    'France':'Europe',
    'South Korea':'Asia',
    'Italy':'Europe',
    'Spain':'Europe',
    'Iran':'Asia',
    'Australia':'Australia',
    'Brazil':'South America'
}